<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/layout"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        #wrap {
            width:100vw;
            height:100vh;
            padding:200px;
        }
    </style>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script>
        let tbody;
        let jsonData;
        function renderTable(data) {
            jsonData = data;
            for (let i = 0; i < data.length; i++) {
                let tr = document.createElement('tr');
                let keys = Object.keys(data[i]);
                for (let j = 0; j < keys.length; j++) {
                    let td = document.createElement('td');
                    td.innerText = data[i][keys[j]];
                    tr.appendChild(td);
                    console.log(`tr : ${tr}, td : ${td}, keys[j] : ${keys[j]}, data[keys[j]] : ${data[keys[j]]} .` );
                }
                tbody.appendChild(tr);
            }
            console.log("success"); 

        }
        // jackson 적용 시 성공, 미적용시 실패
        function dataSendGet() {
            var messageDTO = {
                food: $("#inputFood").val(),
                price:$("#inputPrice").val(),
                maker:$("#inputMaker").val()
            };

            var data = messageDTO;

            console.log(data);

            $.ajax({
                type:"GET",
                url: "/chlee/customer",
                // data: data, // json
		        success : function(data, status, xhr) {
                    renderTable(data);                    
		        }, error: function(jqXHR, textStatus, errorThrown) {

		        }
            });
        }

        // @RequestBody 필요
        function dataSendPostStringify() {
            var messageDTO = {
                food: $("#inputFood").val(),
                price:$("#inputPrice").val(),
                maker:$("#inputMaker").val()
            };

            var data = JSON.stringify(messageDTO);

            console.log(data);

            $.ajax({
                type:"POST",
                url: "/chlee/food/stringify",
                data: data, // string
                dataType: "json",
		        contentType:"application/json;charset=UTF-8",
		        success : function(data, status, xhr) {
		            console.log(data);
                    $("#resultFood").text(data.food);
                    $("#resultPrice").text(data.price);
                    $("#resultMaker").text(data.maker);
		        }, error: function(jqXHR, textStatus, errorThrown) {

		        }
            });
        }

        // jackson 적용 시 성공, 미적용시 실패
         function dataSendPostJson() {
            var messageDTO = {
                food: $("#inputFood").val(),
                price:$("#inputPrice").val(),
                maker:$("#inputMaker").val()
            };

            var data = messageDTO;

            console.log(data);

            $.ajax({
                type:"POST",
                url: "/chlee/food/json",
                data: data,
		        success : function(data, status, xhr) {
		            console.log(data);
                    $("#resultFood").text(data.food);
                    $("#resultPrice").text(data.price);
                    $("#resultMaker").text(data.maker);
		        }, error: function(jqXHR, textStatus, errorThrown) {

		        }
            });
        }
        // jackson 적용 시 성공, 미적용시 실패
        function dataSendPostFormSerialize() {
            var data = $("#application").serialize();
            data = decodeURIComponent(data);
            console.log(data);

            $.ajax({
                type:"POST",
                url: "/chlee/food/formserialize",
                data: data,
		        success : function(data, status, xhr) {
		            console.log(data);
                    $("#resultFood").text(data.food);
                    $("#resultPrice").text(data.price);
                    $("#resultMaker").text(data.maker);
		        }, error: function(jqXHR, textStatus, errorThrown) {

		        }
            });
        }
        document.addEventListener('DOMContentLoaded', (e) => {
            tbody = document.getElementById('renderTable').getElementsByTagName('tbody')[0];
        });
    </script>
</th:block>
<div layout:fragment="content">


    <div id="wrap">
        <div style="border: 1px solid red">
            this is view/ajax/list.html
        </div>
    
        <div id="resultFood">미정</div><br>
        <div id="resultPrice">미정</div><br>
        <div id="resultMaker">미정</div><br>
    
        <form id="application">
            <input id="inputFood" type="text" name="food" /><br>
            <input id="inputPrice" type="text" name="price" /><br>
            <input id="inputMaker" type="text" name="maker" /><br>
        </form>
    
        <button class="btn btn-sm btn-primary" onclick="dataSendGet()">dataSendGet()</button>
        <br>
        <br>
        <button class="btn btn-sm btn-primary" onclick="dataSendPostStringify()">dataSendPostStringify() : stringify</button>
        <br>
        <br>
        <button class="btn btn-sm btn-primary" onclick="dataSendPostJson()">dataSendPostJson() : no stringify</button>
        <br>
        <br>
        <button class="btn btn-sm btn-primary" onclick="dataSendPostFormSerialize()">dataSendPostFormSerialize() : form serialize Post</button>

        <table id="renderTable">
            <thead>
                <th>id</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>parentName</th>
                <th>star</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
</html>